{% extends "base.html" %}

{% block content %}
    <h1>Light configuration</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.starting_time.label }}<br>
            {{ form.starting_time(size=32) }}<br>
            {% for error in form.starting_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration(size=32) }}<br>
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}